<aside class="bg-dark h-100" data-bs-theme="dark">
    <div class="container py-3 py-md-5 ps-md-5">
        <h2 class="text-light mb-4">Navegación</h2>
        <div class="desplegable">
          <div (click)="adminFlag = !adminFlag" class="d-flex desplegable-link">
            <i class='text-light fs-4 bx bx-cog me-2'></i>
            <p class="text-light fw-semibold">
                Administración
            </p>
            <i class='bx bx-chevron-down text-light pt-1 ms-2'></i>
          </div>
          <ul [ngClass]="adminFlag ? 'd-block' : 'd-none transition'">
            <li class="list-unstyled mb-2"><a [ngClass]="isPath('/proveedores') ? 'active' : ''" class="item-link text-decoration-none text-light" routerLink="proveedores">Proveedores</a></li>
            <li class="list-unstyled mb-2"><a [ngClass]="isPath('/productos-servicios') ? 'active' : ''" class="item-link text-decoration-none text-light" routerLink="productos-servicios">Productos y servicios</a></li>
            <li class="list-unstyled mb-2"><a [ngClass]="isPath('/ordenes') ? 'active' : ''" class="item-link text-decoration-none text-light" routerLink="ordenes">Órdenes de compra</a></li>
          </ul>
        </div>

        <div class="desplegable">
          <div (click)="userFlag = !userFlag" class="d-flex desplegable-link">
            <i class='text-light fs-4 bx bx-user me-2'></i>
            <p class="text-light fw-semibold">
                Usuarios
            </p>
            <i class='bx bx-chevron-down text-light pt-1 ms-2'></i>
          </div>
          <ul [ngClass]="userFlag ? 'd-block' : 'd-none'">
            <li class="list-unstyled mb-2"><a [ngClass]="isPath('/login') ? 'active' : ''" routerLink="login" class="item-link text-decoration-none text-light">Iniciar Sesión</a></li>
            <li class="list-unstyled mb-2"><a [ngClass]="isPath('/register') ? 'active' : ''" routerLink="register" class="item-link text-decoration-none text-light">Registrarse</a></li>
          </ul>
        </div>

        <div class="desplegable">
          <div (click)="extrasFlag = !extrasFlag" class="d-flex desplegable-link">
            <i class='text-light fs-4 bx bx-extension me-2'></i>
            <p class="text-light fw-semibold">
                Adicionales
            </p>
            <i class='bx bx-chevron-down text-light pt-1 ms-2'></i>
          </div>
          <ul [ngClass]="extrasFlag ? 'd-block' : 'd-none'">
            <li class="list-unstyled mb-2"><a [ngClass]="isPath('/categorias') ? 'active' : ''" routerLink="categorias" class="item-link text-decoration-none text-light">Categorías</a></li>
            <li class="list-unstyled mb-2"><a [ngClass]="isPath('/rubros') ? 'active' : ''" routerLink="rubros" class="item-link text-decoration-none text-light">Rubros</a></li>
          </ul>
        </div>
    </div>
</aside>
