<div class="bg-dark">
  <div *ngIf="loaderFlag" class="d-flex justify-content-center align-items-center mt-5 loader">
    <app-loader></app-loader>
  </div>
  <div *ngIf="userState == true" class="container py-5 p-md-5">
    <!-- Ruteo -->
    <div *ngIf="!loaderFlag" class="row">
      <!-- Breadcrumb -->
      <div class="col-12 col-md-9 d-flex align-items-center">
        <a class="text-light text-decoration-none" routerLink="/proveedores">Proveedores</a>
      </div>
      <!-- Breadcrumb -->
      <div class="col-12 col-md-3 d-flex justify-content-md-end my-3">
        <a routerLink="/proveedores/form" class="btn btn-primary"
          >Agregar Proveedor</a
        >
      </div>
    </div>
    <!-- Ruteo -->
    <div *ngIf="!loaderFlag" class="row">
      <div class="col-12 mb-2 mb-md-0 col-md-2">
        <input class="searchInput mt-4" type="text" placeholder="Buscar" [(ngModel)]="supplierFilter">
      </div>
      <div class="col-12 mb-2 col-md-2 d-flex align-items-end">
        <p class="text-light m-0 me-2">Ver eliminados</p>
        <div class="cntr">
          <button (click)="changeState()" id="cbx" [ngClass]="this.isActiveItems ? '' : 'checked' " class="hidden-xs-up"></button>
          <label for="cbx" class="cbx"></label>
        </div>
      </div>
      <div class="col-12 mb-2 mb-md-0 col-md-3 align-items-end justify-content-start ">
        <label class="form-label text-light" for="price">Ordernar por Razon Social</label>
        <select (change)="onBusinessNameFilterChange()" for="price" name="price" id="price" class="form-select" [(ngModel)]="businessNameFilter" aria-label="Default select example">
          <option value="0">Sin orden</option>
          <option value="1">Ascendente</option>
          <option value="2">Descendente</option>
        </select>
      </div>
      <div class="col-12 mb-2 mb-md-0 col-md-5 d-flex align-items-end justify-content-end ">
          <ul class="pagination mb-0">
            <li>
              <button (click)="goPrevPage()" *ngIf="prevPage != 0" class="btn btn-outline-light">Previo</button>
            </li>
            <li>
              <button (click)="goNextPage()" *ngIf="nextPage < suppliers.length" class="ms-2 btn btn-outline-light">Siguiente</button>
            </li>
          </ul>
      </div>
    </div>
    <div *ngIf="suppliers.length > 0 && !loaderFlag" class="table-responsive rounded-3 mt-3 mb-3 border border-1 border-white">
      <table class="table table-dark align-middle mb-0">
        <thead>
          <tr>
            <th class="text-center">Codigo</th>
            <th class="text-center">Razon Social</th>
            <th class="text-center">Direccion</th>
            <th class="text-center">Contacto</th>
            <th class="text-center">Medios de contacto</th>
            <th class="text-center">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers | search: supplierFilter | pagination: prevPage:nextPage">
            <td>
              <div class="d-flex align-items-center">
                <img
                  src="{{ supplier.image }}"
                  alt=""
                  style="width: 50px; height: 50px"
                  class="rounded-circle"
                  (error)="handleImageError(supplier)"
                />
                <div class="ms-3">
                  <p class="fw-normal mb-1 text-nowrap text-center">{{ supplier.supplierCode }}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1 text-nowrap text-center ">
                {{ supplier.businessName }}
              </p>
            </td>
            <td>
              <p class="fw-normal mb-1 text-nowrap text-center">
                {{ getAddressBySupplierId(supplier.id) }}
              </p>
            </td>
            <td>
              <p class="fw-normal mb-1 text-nowrap text-center" >
                {{ getContactBySupplierId(supplier.id) }}
              </p>
            </td>
            <td>
              <p class="fw-normal mb-1 text-nowrap text-center">{{ supplier.phoneNumber }}</p>
              <p class="fw-normal mb-1 text-nowrap text-center">{{ supplier.email }}</p>
              <p class="fw-normal mb-1 text-nowrap text-center"><a target="_blank" href="{{ supplier.website }}">{{ supplier.website }}</a></p>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                <i *ngIf="supplier.active" (click)="getSupplierById(supplier.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger bx bx-trash me-2"></i>
                <i *ngIf="supplier.active" [routerLink]="['/proveedores/form/',supplier.id]" class="btn btn-primary bx bx-edit-alt me-2"></i>
                <i [routerLink]="['/proveedores/detalle/',supplier.id]" class="btn btn-success bx bx-info-circle"></i>
                <i *ngIf="!supplier.active" (click)="getSupplierById(supplier.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary bx bx-check ms-2"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Mostramos un mensaje si no tiene productos -->
    <div *ngIf="suppliers.length == 0">
      <app-empty-list></app-empty-list>
    </div>
    <!-- Mostramos un mensaje si no tiene productos -->
  </div>
  <!-- Validamos si el usuario esta logueado -->
  <div *ngIf="userState == null" class="container py-5 p-md-5">
    <app-navigation-home></app-navigation-home>
  </div>
  <!-- Validamos si el usuario esta logueado -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Por seguridad...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           Deseas {{this.isActiveItems ? 'eliminar' : 'dar de alta'}} el proveedor "{{this.supplierViewModel.businessName}}"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button *ngIf="this.isActiveItems" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteSupplier(this.supplierViewModel.id)">Aceptar</button>
          <button *ngIf="!this.isActiveItems" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="undeleteSupplierById(this.supplierViewModel.id)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
</div>
