<div class="bg-dark">
  <div *ngIf="userState == true" class="container py-5 p-md-5">
    <!-- Ruteo -->
    <div class="row">
      <!-- Breadcrumb -->
      <div class="col-12 col-md-8 d-flex align-items-center">
        <a class="text-light text-decoration-none" routerLink="/ordenes"
          >Ordenes</a
        >
        <i class="bx bx-chevron-right text-light fs-4"></i>
        <p class="m-0 text-light text-md-nowrap">Tabla</p>
      </div>
      <!-- Breadcrumb -->
      <div
        class="col-12 col-md-4 d-flex justify-content-start justify-content-md-end my-3"
      >
        <a routerLink="/ordenes/form" class="btn btn-primary"
          >Agregar Orden de compra</a
        >
      </div>
    </div>
    <!-- Ruteo -->
    <div
      *ngIf="ordenes.length > 0"
      class="table-responsive rounded-3 mt-5 mb-3"
    >
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th class="text-center">Orden</th>
            <th>Emision</th>
            <th>Entrega</th>
            <th class="text-center">Total</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orden of ordenes">
            <td>
              <p
                [ngClass]="orden.Activo ? '' : 'text-decoration-line-through'"
                class="fw-normal mb-1 text-nowrap text-center"
              >
                {{ orden.id }}
              </p>
            </td>
            <td>
              <p
                [ngClass]="orden.Activo ? '' : 'text-decoration-line-through'"
                class="fw-normal mb-1 text-nowrap"
              >
                {{ orden.Emision }}
              </p>
            </td>
            <td>
              <p
                [ngClass]="orden.Activo ? '' : 'text-decoration-line-through'"
                class="fw-normal mb-1 text-nowrap"
              >
                {{ orden.Entrega }}
              </p>
            </td>
            <td>
              <p
                [ngClass]="orden.Activo ? '' : 'text-decoration-line-through'"
                class="fw-normal mb-1 text-nowrap text-center"
              >
                ${{ calcTotal(orden) }}
              </p>
            </td>
            <td>
              <div class="d-flex">
                <i
                  [ngClass]="orden.Activo ? '' : 'd-none'"
                  (click)="this.service.getProdData(orden.id)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  class="btn btn-danger bx bx-trash me-2"
                ></i>
                <!-- <i [ngClass]="orden.Activo ? 'd-none' : '' " (click)="borrarOrden(orden.Orden)" class="btn btn-success bx bx-check me-2"></i> -->
                <i
                  [ngClass]="orden.Activo ? '' : 'd-none'"
                  [routerLink]="['/ordenes/form/', orden.id]"
                  class="btn btn-primary bx bx-edit-alt me-2"
                ></i>
                <i
                  [routerLink]="['/ordenes/detalle/', orden.id]"
                  class="btn btn-success bx bx-info-circle"
                ></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Mostramos un mensaje si no hay ordenes -->
    <div *ngIf="ordenes.length == 0">
      <h3 class="text-light text-center">
        No tiene ordenes en tu lista! Por favor agregar alguno
      </h3>
    </div>
    <!-- Mostramos un mensaje si no hay ordenes -->
  </div>
  <!-- Verificamos el estado del usuario -->
  <div *ngIf="userState == null" class="container py-5 p-md-5">
    <h3 class="text-light text-center">
      Necesitas un nivel de usuario mas alto
    </h3>
    <app-navigation-home></app-navigation-home>
  </div>
  <!-- Verificamos el estado del usuario -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Por seguridad...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           Deseas cancelar la orden "{{this.service.datosOrd.id}}"?"
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="borrarOrden(this.service.datosOrd.id)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
</div>
