<div class="bg-dark">
  <div *ngIf="userState == true" class="container py-5 p-md-5">
    <div class="row">
      <div class="col-12 col-md-6 d-flex align-items-center">
        <a class="text-light text-decoration-none" routerLink="/ordenes">Ordenes</a>
        <i class='bx bx-chevron-right text-light fs-4' ></i>
        <p class="m-0 text-light text-md-nowrap">Tabla</p>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-start justify-content-md-end my-3 ">
        <a routerLink="/ordenes/form" class="btn btn-primary"
          >Agregar Orden de compra</a
        >
      </div>
    </div>
    <div *ngIf="ordenes.length > 0" class="table-responsive rounded-3 mt-5 mb-3">
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th class="text-center">Orden</th>
            <th>Emision</th>
            <th>Entrega</th>
            <th class="text-center">Total</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orden of ordenes">
            <td>
              <p  [ngClass]="orden.Activo ? '' : 'text-decoration-line-through' " class="fw-normal mb-1 text-nowrap text-center">
                {{ orden.Orden }}
              </p>
            </td>
            <td>
              <p [ngClass]="orden.Activo ? '' : 'text-decoration-line-through' " class="fw-normal mb-1 text-nowrap">{{ orden.Emision }}</p>
            </td>
            <td>
              <p [ngClass]="orden.Activo ? '' : 'text-decoration-line-through' " class="fw-normal mb-1 text-nowrap">{{ orden.Entrega }}</p>
            </td>
            <td>
              <p [ngClass]="orden.Activo ? '' : 'text-decoration-line-through' " class="fw-normal mb-1 text-nowrap text-center">
                ${{calcTotal(orden)}}
              </p>
            </td>
            <td>
              <div class="d-flex">
                <i [ngClass]="orden.Activo ? '' : 'd-none' " (click)="borrarOrden(orden.Orden)" class="btn btn-danger bx bx-trash me-2"></i>
                <!-- <i [ngClass]="orden.Activo ? 'd-none' : '' " (click)="borrarOrden(orden.Orden)" class="btn btn-success bx bx-check me-2"></i> -->
                <i [ngClass]="orden.Activo ? '' : 'd-none' " [routerLink]="['/ordenes/form/',orden.Orden]" class="btn btn-primary bx bx-edit-alt me-2"></i>
                <i [routerLink]="['/ordenes/detalle/',orden.Orden]" class="btn btn-success bx bx-detail"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="ordenes.length == 0">
      <h3 class="text-light text-center">No tiene proveedores en tu lista! Por favor agregar alguno</h3>
    </div>
  </div>
  <div *ngIf="userState == null" class="container py-5 p-md-5">
    <h3 class="text-light text-center">Necesitas un nivel de usuario mas alto</h3>
  </div>
</div>
