<div class="container">
    <div class="table-responsive rounded-3 mt-5 mb-3">
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Proveedor</th>
                <th class="text-nowrap">Codigo / Sku</th>
                <th>Orden</th>
                <th>Emision</th>
                <th>Entrega</th>
                <th>Cantidad</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let orden of ordenes">
                <td>
                    <p class="fw-normal mb-1 text-nowrap text-center">{{orden.Proveedor}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1 text-nowrap text-center">{{orden.Producto}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1 text-nowrap text-center">{{orden.Orden}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1 text-nowrap">{{orden.Emision}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1 text-nowrap">{{orden.Entrega}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1 text-nowrap text-center">{{orden.Cantidad}}</p>
                </td>
                <td>
                    <div class="d-flex">
                        <i class='btn btn-danger bx bx-trash me-2'></i>
                        <i class='btn btn-primary bx bx-edit-alt' ></i>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
</div>
