<div class="bg-dark">
    <div *ngIf="userState == true" class="container py-5 p-md-5">
        <div class="row">
            <!-- Breadcrumb -->
            <div class="col-12 col-md-9 d-flex align-items-center">
              <a class="text-light text-decoration-none" routerLink="/rubros">Rubros</a>
            </div>
            <!-- Breadcrumb -->
            <div class="col-12 col-md-3 d-flex justify-content-start justify-content-md-end my-3 ">
              <a routerLink="/rubros" class="btn btn-primary">Volver a la lista</a>
            </div>
        </div>
        <form #formRubro="ngForm" (ngSubmit)="postIndustry(formRubro)">
            <div class="row">
                <div class="col-12 col-md-3 mb-2">
                    <label for="rubro" class="form-label text-light">Rubro:</label>
                    <input
                      [(ngModel)]="this.industryViewModel.industryName"
                      required
                      type="text"
                      id="rubro"
                      name="rubro"
                      placeholder="Ingese rubro"
                      class="form-control"
                      minlength="4"
                    />
                    <div *ngIf="formRubro.controls['rubro']?.hasError('required')" class="col-auto">
                      <span class="form-text text-light">El dato es obligatorio</span>
                    </div>
                    <div *ngIf="formRubro.controls['rubro']?.hasError('minlength')" class="col-auto">
                      <span class="form-text text-light">Codigo de 8 o mas digitos</span>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-12 mt-2">
                  <button
                    data-bs-toggle="modal" data-bs-target="#exampleModal" 
                    [disabled]="!formRubro.valid"
                    type="button"
                    class="btn btn-success">
                   Agregar
                  </button>
                </div>
                <div *ngIf="!formRubro.valid" class="col-12 mt-2">
                  <p class="text-light">Asegurate de que todos los campos esten completos correctamente</p>
                </div>
              </div>
              <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Por seguridad...</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        Deseas agregar el rubro "{{this.industryViewModel.industryName}}"?
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Modal -->
        </form>
    </div>
    <div *ngIf="userState == null" class="container py-5 p-md-5">
        <app-navigation-home></app-navigation-home>
    </div>
</div>
