<div class="bg-dark">
  <div class="container p-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-start justify-content-md-end mb-3 ">
        <a routerLink="../../" class="btn btn-primary">Volver a la lista</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <label for="seleccCodProv" class="form-label text-light"
          >Codigo Proveedor:</label
        >
        <select
          [(ngModel)]="seleccCodProv"
          for="seleccCodProv"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected>Selecciona un proveedor</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="sku" class="form-label text-light">Codigo / Sku:</label>
        <input
          [(ngModel)]="sku"
          required
          type="text"
          id="sku"
          placeholder="Ingese Codigo / Sku"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <label for="categoria" class="form-label text-light">Categoria:</label>
        <input
          [(ngModel)]="categoria"
          required
          type="text"
          id="categoria"
          placeholder="Ingese su categoria"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="nomProd" class="form-label text-light"
          >Nombre del producto:</label
        >
        <input
          [(ngModel)]="nomProd"
          required
          type="text"
          id="nomProd"
          placeholder="Ingese nombre del producto"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <label for="descripcion" class="form-label text-light"
          >Descripcion:</label
        >
        <input
          [(ngModel)]="descripcion"
          required
          type="text"
          id="descripcion"
          placeholder="Ingese descripcion"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="precio" class="form-label text-light">Precio:</label>
        <input
          [(ngModel)]="precio"
          required
          type="text"
          id="precio"
          placeholder="Ingese precio"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2">
        <button
          (click)="agregarProductoyservicio()"
          type="button"
          class="btn btn-success w-100"
        >
          Agregar / Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
