<article class="bg-dark">
    <div *ngIf="loaderFlag" class="d-flex justify-content-center align-items-center mt-5 loader">
        <app-loader></app-loader>
    </div>
    <div *ngIf="userState == true" class="container py-5 p-md-5">
        <div *ngIf="!loaderFlag" class="row">
            <!-- Breadcrumb -->
            <div class="col-12 col-md-9 d-flex align-items-center">
              <a class="text-light text-decoration-none" routerLink="/inicio">Inicio</a>
              <i class='bx bx-chevron-right text-light fs-4' ></i>
              <a class="text-light text-decoration-none" routerLink="/rubros">Rubros</a>
            </div>
            <!-- Breadcrumb -->
            <div class="col-12 col-md-3 d-flex justify-content-md-end my-3">
              <a (click)="openModal(content)" class="btn btn-primary"
                >Agregar Rubro</a
              >
            </div>
          </div>
          <div *ngIf="!loaderFlag" class="row">
            <div *ngFor="let industry of industries;index as i" class="col-12 col-sm-auto mb-3">
                <div class="card bg-dark border border-1 border-white">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="d-flex">
                        <div class="text-start overflow-y-auto w-100">
                            <div class="d-flex align-items-center justify-content-between">
                              <h5 class="text-nowrap text-white me-2 mb-0">{{industry.industryName}}</h5>
                            <i *ngIf="searchUsedIndustries(industry.id) && industry.active" (click)="deleteIndustry(industry.id, industry.industryName)" class="btn btn-danger bx bx-trash ms-4"></i>
                            <i *ngIf="industry.active" (click)="openModal(content,industry.id)" class="btn btn-primary bx bx-edit ms-2"></i>
                            <i *ngIf="!industry.active" (click)="undeleteIndustry(industry.id, industry.industryName)" class="btn btn-success bx bx-check ms-2"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div *ngIf="deletedLength && !loaderFlag" class="d-flex justify-content-start">
            <p class="text-light m-0 me-2">Ver eliminados</p>
            <div class="cntr">
              <button (click)="changeState()" id="cbx" [ngClass]="this.isActiveItems ? '' : 'checked' " class="hidden-xs-up"></button>
              <label for="cbx" class="cbx"></label>
            </div>
          </div>
          <div *ngIf="industries.length == 0">
            <app-empty-list></app-empty-list>
          </div>
    </div>
    <div *ngIf="userState == null" class="container py-5 p-md-5">
        <app-navigation-home></app-navigation-home>
    </div>
    <!-- Modal Modificacion y agregacion -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{isEditedIndustry ? 'Editar Rubro' : 'Nuevo Rubro'}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label" for="industry">Rubro:</label>
            <div class="input-group">
              <input
                type="text"
                id="industry"
                class="form-control"
                placeholder="Ingrese rubro"
                name="industry"
                [(ngModel)]="industryViewModel.industryName"
                />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Guardar</button>
      </div>
    </ng-template>
    <!-- Modal Modificacion y agregacion -->
</article>
