<article class="bg-dark">
    <div class="container py-5 p-md-5">
        <div class="row d-flex justify-content-center">
            <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
                <h3>Crea tu cuenta</h3>
                <form #registerForm="ngForm" (ngSubmit)="postUser()">
                    <div class="inputBox"> 
                        <input [(ngModel)]="this.userViewModel.firstName" required id="nombre" type="text" name="nombre" placeholder="Nombre"> 
                        <input [(ngModel)]="this.userViewModel.lastName" required id="apellido" type="text" name="apellido" placeholder="Apellido"> 
                        <input [(ngModel)]="this.userViewModel.email" required id="email" type="text" name="email" placeholder="Email"> 
                        <input [(ngModel)]="this.userViewModel.password" required id="pass" type="password" name="Password" placeholder="Contraseña"> 
                    </div> 
                        <button [disabled]="!registerForm.valid" class="btn btn-primary w-100" type="submit">Registrarme</button>
                        <p class="text-center mt-3 text-light">¿Ya tienes cuenta? <a class="text-decoration-underline link-light" routerLink="/login">Inicia sesion</a></p>
                </form>
            </div>
        </div>
    </div>
</article>
