<div class="bg-dark">
    <div *ngIf="loaderFlag" class="d-flex justify-content-center align-items-center mt-5 loader">
      <app-loader></app-loader>
    </div>
    <div *ngIf="userState == true" class="container py-5 p-md-5">
        <div *ngIf="!loaderFlag" class="row">
            <!-- Breadcrumb -->
            <div class="col-12 col-md-9 d-flex align-items-center">
              <a class="text-light text-decoration-none" routerLink="/inicio">Inicio</a>
              <i class='bx bx-chevron-right text-light fs-4' ></i>
              <a class="text-light text-decoration-none" routerLink="/categorias">Categorias</a>
            </div>
            <!-- Breadcrumb -->
            <div class="col-12 col-md-3 d-flex justify-content-md-end my-3">
              <a routerLink="/categorias/form" class="btn btn-primary"
                >Agregar Categoria</a
              >
            </div>
          </div>
          <div *ngIf="!loaderFlag" class="row">
            <div *ngFor="let category of categories" class="col-12 col-sm-auto mb-3">
                <div class="card bg-dark border border-1 border-white">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="d-flex">
                        <div class="text-start overflow-y-auto w-100">
                            <div class="d-flex align-items-center justify-content-between">
                              <h5 class="text-nowrap text-white me-2 mb-0">{{category.categoryName}}</h5>
                            <i *ngIf="searchUsedCategories(category.id)" (click)="getCategoryById(category.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger bx bx-trash ms-4"></i>
                            <i [routerLink]="['/categorias/form/',category.id]" class="btn btn-primary bx bx-edit ms-2"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div *ngIf="categories.length == 0">
            <app-empty-list></app-empty-list>
          </div>
    </div>
    <div *ngIf="userState == null" class="container py-5 p-md-5">
        <app-navigation-home></app-navigation-home>
    </div>
    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Por seguridad...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           Deseas eliminar la categoria "{{this.categoryViewModel.categoryName}}"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteCategory(this.categoryViewModel.id)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
</div>
