<div class="bg-dark h-100 d-flex justify-content-center">
  <div *ngIf="userState == true" class="container py-5 p-md-5">
    <!-- Ruteo -->
    <div class="row">
      <!-- Breadcrumb -->
      <div class="col-12 col-md-9 d-flex align-items-center">
        <a class="text-light text-decoration-none" routerLink="/ordenes"
          >Ordenes</a
        >
        <i *ngIf="this.datosOrd.id != ''" class="bx bx-chevron-right text-light fs-4"></i>
        <p class="m-0 text-light text-md-nowrap">
          <span *ngIf="this.datosOrd.id != ''"
            >Orden {{ this.datosOrd.id }}</span
          >
        </p>
      </div>
      <!-- Breadcrumb -->
      <div class="col-12 col-md-3 d-flex justify-content-md-end my-3">
        <a routerLink="/ordenes" class="btn btn-primary">Volver a la lista</a>
      </div>
    </div>
    <!-- Ruteo -->
    <div class="row">
      <div class="row">
        <h3 class="my-3 text-light">Datos Orden</h3>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start text-white overflow-y-auto">
                    <h5 class="text-nowrap">{{ this.datosOrd.id }}</h5>
                    <span>Orden</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start text-white overflow-y-auto">
                    <h5 class="text-nowrap">
                      {{ this.datosOrd.Proveedor }}
                    </h5>
                    <span>Proveedor</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start text-white overflow-y-auto">
                    <h5 class="text-nowrap">
                      {{
                        this.datosOrd.Activo ? "Activa" : "Cancelada"
                      }}
                    </h5>
                    <span>Estado</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start text-white overflow-y-auto">
                    <h5 class="text-nowrap">
                      {{ this.datosOrd.Emision }}
                    </h5>
                    <span>Emision</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start text-white overflow-y-auto">
                    <h5 class="text-nowrap">
                      {{ this.datosOrd.Entrega }}
                    </h5>
                    <span>Entrega</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start text-white overflow-y-auto">
                    <h5 class="text-nowrap">
                      {{ this.datosOrd.InfoRecepcion }}
                    </h5>
                    <span>Informacion de recepcion</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-light my-3">Productos</h3>
        <div
          *ngFor="let prodComp of this.datosOrd.Productos"
          class="row p-0 m-0"
        >
          <div class="col-12 col-xl-4 col-sm-6 mb-3">
            <div class="card bg-dark border border-1 border-white">
              <div class="card-content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="text-start text-white overflow-y-auto">
                      <h5 class="text-nowrap">{{ prodComp.Nombre }}</h5>
                      <span>Producto</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-4 col-sm-6 mb-3">
            <div class="card bg-dark border border-1 border-white">
              <div class="card-content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="text-start text-white overflow-y-auto">
                      <h5 class="text-nowrap">{{ prodComp.Cantidad }}</h5>
                      <span>Cantidad</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-4 col-sm-6 mb-3">
            <div class="card bg-dark border border-1 border-white">
              <div class="card-content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="text-start text-white overflow-y-auto">
                      <h5 class="text-nowrap">${{ prodComp.Subtotal }}</h5>
                      <span>Subtotal</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start text-white overflow-y-auto">
                    <h5 class="text-nowrap">
                      ${{ this.datosOrd.Total }}
                    </h5>
                    <span>Total</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Acciones desde el detalle -->
        <div *ngIf="this.datosOrd.Activo === true" class="d-flex">
          <a
            data-bs-toggle="modal" data-bs-target="#exampleModal" 
            class="btn btn-danger me-2"
            >Eliminar</a
          >
          <a
            [routerLink]="['/ordenes/form/', this.datosOrd.id]"
            class="btn btn-primary me-2"
            >Editar</a
          >
        </div>
        <!-- Acciones desde el detalle -->
      </div>
    </div>
  </div>
  <!-- Verificamos el nivel del usuario -->
  <div *ngIf="userState == null" class="container py-5 p-md-5">
    <app-navigation-home></app-navigation-home>
  </div>
  <!-- Verificamos el nivel del usuario -->
   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Por seguridad...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           Deseas cancelar la orden "{{this.datosOrd.id}}"?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="borrarOrden(this.datosOrd.id)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
</div>
