<header>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
          <a class="navbar-brand text-uppercase fs-3 fw-semibold" routerLink="/inicio">Sala brand</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav gap-md-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <button class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://i.ibb.co/yVGxFPR/2.png" style="width: 27px;" alt=""></button>
                <ul *ngIf="userState" class="dropdown-menu dropdown-menu-dark">
                    <li class="text-nowrap px-2 mb-2"><i class="bx bx-user"></i> {{user.firstName + ' ' + user.lastName}}</li>
                    <li class="text-nowrap px-2 mb-2"><i class="bx bx-group"></i> {{user.role.roleName}}</li>
                    <li class="text-nowrap px-2 mb-2"><i class="bx bx-calendar"></i> {{user.createdAt | date: 'yyyy/MM/dd' }}</li>
                    <li class="text-nowrap px-2 closeSesion" (click)="logout()"><i class="bx bx-log-out"></i> Cerrar Sesión</li>
                </ul>
                <ul *ngIf="!userState" class="dropdown-menu dropdown-menu-dark">
                  <li class="text-nowrap px-2 mb-2 closeSesion" routerLink="/login"><i class="bx bx-log-in"></i> Iniciar Sesión</li>
                  <li class="text-nowrap px-2 closeSesion" routerLink="/register"><i class="bx bx-user-plus"></i> Registrarse</li>
              </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
