<div class="bg-dark">
  <div class="container p-5">
    <div class="row">
      <div class="col-12 d-flex justify-content-start justify-content-md-end mb-3 ">
        <a routerLink="/proveedores" class="btn btn-primary">Volver a la lista</a>
      </div>
    </div>
    <form #formProv="ngForm" (ngSubmit)="agregarProveedor(formProv)">
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <label for="codProv" class="form-label text-light">Codigo:</label>
        <input
          [(ngModel)]="codProv"
          required
          name="proveedor"
          type="text"
          id="codProv"
          placeholder="Ingese su codigo"
          class="form-control"
          minlength="4"
        />
        <div *ngIf="formProv.controls['proveedor']?.hasError('required')" class="col-auto">
          <span class="form-text text-light"> El dato es obligatorio </span>
        </div>
        <div *ngIf="formProv.controls['proveedor']?.hasError('minlength')" class="col-auto">
          <span class="form-text text-light"> El codigo debe ser de 4 o mas digitos </span>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="rs" class="form-label text-light">Razon Social:</label>
        <input
          [(ngModel)]="rs"
          required
          name="razonsocial"
          id="rs"
          type="text"
          placeholder="Ingese Razon Social"
          class="form-control"
          minlength="3"
        />
        <div *ngIf="formProv.controls['razonsocial']?.hasError('required')" class="col-auto">
          <span class="form-text text-light">El dato es obligatorio</span>
        </div>
        <div *ngIf="formProv.controls['razonsocial']?.hasError('minlength')" class="col-auto">
          <span class="form-text text-light">La razon social debe ser de 3 o mas digitos</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <label for="rubro" class="form-label text-light">Rubro:</label>
        <input
          [(ngModel)]="rubro"
          required
          name="rubro"
          type="text"
          id="rubro"
          placeholder="Ingese su rubro"
          class="form-control"
          minlength="3"
        />
        <div *ngIf="formProv.controls['rubro']?.hasError('required')" class="col-auto">
          <span class="form-text text-light">El dato es obligatorio</span>
        </div>
        <div *ngIf="formProv.controls['rubro']?.hasError('minlength')" class="col-auto">
          <span class="form-text text-light">La razon social debe ser de 3 o mas digitos</span>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="telefonoproveedor" class="form-label text-light"
          >Telefono:</label
        >
        <input
          [(ngModel)]="telefonoProv"
          required
          name="telefonoproveedor"
          id="telefonoproveedor"
          type="text"
          placeholder="Ingese telefono"
          class="form-control"
          minlength="5"
        />
        <div *ngIf="formProv.controls['telefonoproveedor']?.hasError('required')" class="col-auto">
          <span class="form-text text-light">El dato es obligatorio</span>
        </div>
        <div *ngIf="formProv.controls['telefonoproveedor']?.hasError('minlength')" class="col-auto">
          <span class="form-text text-light">El telefono debe ser de 11 o mas digitos</span>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="emailProv" class="form-label text-light"
          >Email:</label
        >
        <input
          [(ngModel)]="emailProv"
          required
          name="emailProv"
          id="emailProv"
          type="text"
          placeholder="Ingese email"
          class="form-control"
          minlength="5"
        />
        <div *ngIf="formProv.controls['emailProv']?.hasError('required')" class="col-auto">
          <span class="form-text text-light">El dato es obligatorio</span>
        </div>
        <div *ngIf="formProv.controls['emailProv']?.hasError('minlength')" class="col-auto">
          <span class="form-text text-light">El email debe ser de 5 o mas digitos</span>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="sitioProv" class="form-label text-light"
          >Sitio Web:</label
        >
        <input
          [(ngModel)]="sitioProv"
          required
          name="sitioProv"
          id="sitioProv"
          type="text"
          placeholder="Ingese sitio web"
          class="form-control"
          minlength="5"
        />
        <div *ngIf="formProv.controls['sitioProv']?.hasError('required')" class="col-auto">
          <span class="form-text text-light">El dato es obligatorio</span>
        </div>
        <div *ngIf="formProv.controls['sitioProv']?.hasError('minlength')" class="col-auto">
          <span class="form-text text-light">La razon social debe ser de 3 o mas digitos</span>
        </div>
      </div>
    </div>
    <div class="row">
      <h4 class="text-light my-2 text-uppercase">Dirección</h4>
      <div class="col-12 col-md-6 mb-2">
        <label for="calle" class="form-label text-light"
          >Calle:</label
        >
        <input
          [(ngModel)]="calle"
          required
          name="calle"
          type="text"
          id="calle"
          placeholder="Ingese su calle"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="num" class="form-label text-light"
          >Numero:</label
        >
        <input
          [(ngModel)]="num"
          required
          name="num"
          type="text"
          id="num"
          placeholder="Ingese numero"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="localidad" class="form-label text-light">Localidad:</label>
        <input
          [(ngModel)]="localidad"
          required
          name="localidad"
          type="text"
          id="localidad"
          placeholder="Ingese localidad"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <label for="provincia" class="form-label text-light">Provincia:</label>
        <input
          [(ngModel)]="provincia"
          required
          name="provincia"
          type="text"
          id="provincia"
          placeholder="Ingese provincia"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="pais" class="form-label text-light">Pais:</label>
        <input
          [(ngModel)]="pais"
          required
          name="pais"
          type="text"
          id="pais"
          placeholder="Ingese pais"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <label for="cp" class="form-label text-light">Codigo Postal:</label>
        <input
          [(ngModel)]="cp"
          required
          name="codigopostal"
          type="text"
          id="cp"
          placeholder="Ingese codigo postal"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <h4 class="text-light my-2 text-uppercase">Datos Fiscales</h4>
      <div class="col-12 col-md-6 mb-2">
        <label for="cuit" class="form-label text-light">CUIT:</label>
        <input
          [(ngModel)]="cuit"
          required
          name="cuit"
          type="text"
          id="cuit"
          placeholder="Ingese su CUIT"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="condicion" class="form-label text-light"
          >Condicion IVA:</label
        >
        <input
          [(ngModel)]="condicion"
          required
          name="condicion"
          type="text"
          id="condicion"
          placeholder="Ingese condicion IVA"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <h4 class="text-light my-2 text-uppercase">Datos de contacto</h4>
      <div class="col-12 col-md-6 mb-2">
        <label for="nombreContacto" class="form-label text-light"
          >Nombre:</label
        >
        <input
          [(ngModel)]="nombreContacto"
          required
          name="nombrecontacto"
          type="text"
          id="nombreContacto"
          placeholder="Ingese su nombre"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="apellidoContacto" class="form-label text-light"
          >Apellido:</label
        >
        <input
          [(ngModel)]="apellidoContacto"
          required
          name="apellidocontacto"
          type="text"
          id="apellidoContacto"
          placeholder="Ingese su apellido"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-2">
        <label for="telefonoContacto" class="form-label text-light"
          >Telefono:</label
        >
        <input
          [(ngModel)]="telefonoContacto"
          required
          name="telefonocontacto"
          type="text"
          id="telefonoContacto"
          placeholder="Ingese su telefono"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-6 mb-2">
        <label for="emailContacto" class="form-label text-light">Email:</label>
        <input
          [(ngModel)]="emailContacto"
          required
          name="emailcontacto"
          type="email"
          id="emailContacto"
          placeholder="Ingese su email"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <label for="rol" class="form-label text-light">Rol:</label>
        <input
          [(ngModel)]="rol"
          required
          name="rol"
          type="text"
          id="rol"
          placeholder="Ingese su rol"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2">
        <button
          [disabled]="!formProv.valid"
          type="submit"
          class="btn btn-success w-100"
        >
          Agregar / Actualizar
        </button>
      </div>
    </div>
  </form>
  </div>
</div>
