<div class="container my-3">
    <div class="row">
        <div class="col-12 col-md-6 mb-2">
            <label for="codProv" class="form-label text-light">Codigo:</label>
            <input required type="text" id="codProv" placeholder="Ingese su codigo" class="form-control">
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="rs" class="form-label text-light">Razon Social:</label>
            <input required type="text" id="rs" placeholder="Ingese Razon Social" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-2">
            <label for="rubro" class="form-label text-light">Rubro:</label>
            <input required type="text" id="rubro" placeholder="Ingese su rubro" class="form-control">
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="contactoProv" class="form-label text-light">Sitio web, email o teléfono:</label>
            <input required type="text" id="contactoProv" placeholder="Ingese Contacto" class="form-control">
        </div>
    </div>
    <div class="row">
        <h4 class="text-light my-2 text-uppercase">Dirección</h4>
        <div class="col-12 col-md-6 mb-2">
            <label for="calleynum" class="form-label text-light">Calle y numero:</label>
            <input required type="text" id="calleynum" placeholder="Ingese su calle y numero" class="form-control">
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="localidad" class="form-label text-light">Localidad:</label>
            <input required type="text" id="localidad" placeholder="Ingese localidad" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-2">
            <label for="provincia" class="form-label text-light">Provincia:</label>
            <input required type="text" id="provincia" placeholder="Ingese provincia" class="form-control">
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="pais" class="form-label text-light">Pais:</label>
            <input required type="text" id="pais" placeholder="Ingese pais" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <label for="cp" class="form-label text-light">Codigo Postal:</label>
            <input required type="text" id="cp" placeholder="Ingese codigo postal" class="form-control">
        </div>
    </div>
    <div class="row">
        <h4 class="text-light my-2 text-uppercase">Datos Fiscales</h4>
        <div class="col-12 col-md-6 mb-2">
            <label for="cuit" class="form-label text-light">CUIT:</label>
            <input required type="text" id="cuit" placeholder="Ingese su CUIT" class="form-control">
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="condicion" class="form-label text-light">Condicion IVA:</label>
            <input required type="text" id="condicion" placeholder="Ingese condicion IVA" class="form-control">
        </div>
    </div>
    <div class="row">
        <h4 class="text-light my-2 text-uppercase">Datos de contacto</h4>
        <div class="col-12 col-md-6 mb-2">
            <label for="nombreContacto" class="form-label text-light">Nombre:</label>
            <input required type="text" id="nombreContacto" placeholder="Ingese su nombre" class="form-control">
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="apellidoContacto" class="form-label text-light">Apellido:</label>
            <input required type="text" id="apellidoContacto" placeholder="Ingese su apellido" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-2">
            <label for="telefonoContacto" class="form-label text-light">Telefono:</label>
            <input required type="text" id="telefonoContacto" placeholder="Ingese su telefono" class="form-control">
        </div>
        <div class="col-12 col-md-6 mb-2">
            <label for="emailContacto" class="form-label text-light">Email:</label>
            <input required type="email" id="emailContacto" placeholder="Ingese su email" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <label for="rol" class="form-label text-light">Rol:</label>
            <input required type="text" id="rol" placeholder="Ingese su rol" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-2">
            <button type="button" class="btn btn-success w-100">Agregar / Actualizar</button>
        </div>
    </div>
</div>
