<div class="bg-dark h-100 d-flex justify-content-center">
  <div *ngIf="userState == true" class="container py-5 p-md-5">
    <!-- Ruteo -->
    <div class="row">
      <!-- Breadcrumb -->
      <div class="col-12 col-md-9 d-flex align-items-center">
        <a class="text-light text-decoration-none" routerLink="/inicio">Inicio</a>
              <i class='bx bx-chevron-right text-light fs-4' ></i>
        <a class="text-light text-decoration-none" routerLink="/proveedores"
          >Proveedores</a
        >
        <i *ngIf="this.supplierViewModel.supplierCode != ''" class="bx bx-chevron-right text-light fs-4"></i>
        <p class="m-0 text-light text-md-nowrap">
          <span *ngIf="this.supplierViewModel.supplierCode != ''"
            >{{ this.supplierViewModel.businessName }}</span
          >
        </p>
      </div>
      <!-- Breadcrumb -->
      <div class="col-12 col-md-3 d-flex justify-content-md-end my-3">
        <a routerLink="/proveedores" class="btn btn-primary"
          >Volver a la lista</a
        >
      </div>
    </div>
    <!-- Ruteo -->
    <div class="row">
      <div class="row">
        <h3 class="my-3 text-light">Datos Proveedor</h3>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">{{ this.supplierViewModel.supplierCode }}</h5>
                    <span>Codigo</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.supplierViewModel.businessName }}
                    </h5>
                    <span>Razon Social</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.supplierViewModel.industry.industryName }}
                    </h5>
                    <span>Rubro</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.supplierViewModel.phoneNumber }}
                    </h5>
                    <span>Telefono</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.supplierViewModel.email }}
                    </h5>
                    <span>Email</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      <a
                        target="_blank"
                        href="https://agussala2003.github.io/portfolio/"
                        >{{ this.supplierViewModel.website }}</a
                      >
                    </h5>
                    <span>Sitio Web</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <h3 class="my-3 text-light">Direccion</h3>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{
                        this.addressViewModel.streetName +
                          " " +
                          this.addressViewModel.streetNumber
                      }}
                    </h5>
                    <span>Calle y numero</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.addressViewModel.location.locationName }}
                    </h5>
                    <span>Localidad</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.addressViewModel.location.province.provinceName }}
                    </h5>
                    <span>Provincia</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.addressViewModel.location.province.country.countryName }}
                    </h5>
                    <span>Pais</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.addressViewModel.postalCode }}
                    </h5>
                    <span>Codigo Postal</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <h3 class="my-3 text-light">Datos Fiscales</h3>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.supplierViewModel.cuit }}
                    </h5>
                    <span>CUIT</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.supplierViewModel.ivaCondition.taxCondition }}
                    </h5>
                    <span>Condicion IVA</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h3 class="my-3 text-light">Datos Contacto</h3>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.contactViewModel.firstName }}
                    </h5>
                    <span>Nombre</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.contactViewModel.lastName }}
                    </h5>
                    <span>Apellido</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.contactViewModel.phoneNumber }}
                    </h5>
                    <span>Telefono</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-6 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.contactViewModel.email }}
                    </h5>
                    <span>Email</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-6 col-sm-6 mb-3">
          <div class="card bg-dark border border-1 border-white">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <h5 class="text-nowrap">
                      {{ this.contactViewModel.role }}
                    </h5>
                    <span>Rol</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Botones para realizar las acciones en el detalle -->
      <div class="d-flex">
        <a 
          data-bs-toggle="modal" data-bs-target="#exampleModal" 
          class="btn btn-danger me-2"
          *ngIf="this.supplierViewModel.active"
          >Eliminar</a
        >
        <a
        *ngIf="this.supplierViewModel.active"
          [routerLink]="['/proveedores/form/', this.supplierViewModel.id]"
          class="btn btn-primary me-2"
          >Editar</a
        >
        <a 
        data-bs-toggle="modal" data-bs-target="#exampleModal" 
        class="btn btn-success me-2"
        *ngIf="!this.supplierViewModel.active"
        >Dar de alta</a
      >
      </div>
      <!-- Botones para realizar las acciones en el detalle -->
    </div>
  </div>
  <!-- Mensaje en caso de que el usuario no este logueado -->
  <div *ngIf="userState == null" class="container py-5 p-md-5">
    <app-navigation-home></app-navigation-home>
  </div>
  <!-- Mensaje en caso de que el usuario no este logueado -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Por seguridad...</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             Deseas {{this.supplierViewModel.active ? 'eliminar' : 'dar de alta'}} el proveedor "{{this.supplierViewModel.businessName}}"?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button *ngIf="this.supplierViewModel.active" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteSupplier(this.supplierViewModel.id)">Aceptar</button>
            <button *ngIf="!this.supplierViewModel.active" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="undeleteSupplierById(this.supplierViewModel.id)">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
</div>
