<article class="bg-dark">
    <div class="container py-5 p-md-5">
        <div class="row d-flex justify-content-center">
            <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
                <h3>Ingresa a tu cuenta</h3>
                    <div class="inputBox"> 
                        <input [(ngModel)]="this.userViewModel.email" id="email" type="text" name="email" placeholder="Email"> 
                        <input [(ngModel)]="this.userViewModel.password" id="pass" type="password" name="Password" placeholder="Contraseña"> 
                    </div> 
                        <button (click)="validateUser()" class="btn btn-primary w-100" type="submit">Iniciar sesion</button>
                        <p class="text-center mt-3 text-light">¿No tienes cuenta? <a class="text-decoration-underline link-light" routerLink="/register">Registrate</a></p>
            </div>
        </div>
    </div>
</article>
