<article class="bg-dark h-100 d-flex justify-content-center">
  <div *ngIf="userState == true" class="container py-5 p-md-5">
    <!-- Ruteo -->
    <div class="row">
      <!-- Breadcrumbs -->
      <div class="col-12 col-md-9 d-flex align-items-center">
        <a class="text-light text-decoration-none" routerLink="/inicio">Inicio</a>
              <i class='bx bx-chevron-right text-light fs-4' ></i>
        <a
          class="text-light text-decoration-none"
          routerLink="/productos-servicios"
          >Productos y Servicios</a
        >
        <i *ngIf="this.productViewModel.sku != ''" class="bx bx-chevron-right text-light fs-4"></i>
        <p class="m-0 text-light text-md-nowrap">
          <span *ngIf="this.productViewModel.sku != ''"
            >{{ this.productViewModel.productName }}</span
          >
        </p>
      </div>
      <!-- Breadcrumbs -->
      <div class="col-12 col-md-3 d-flex justify-content-md-end my-3">
        <a routerLink="/productos-servicios" class="btn btn-primary"
          >Volver a la lista</a
        >
      </div>
    </div>
    <!-- Ruteo -->
    <div class="row">
      <div class="row">
        <div class="col-12 col-md-6 mb-3 d-flex justify-content-center ">
          <img class="rounded-2 imgProd" [src]="this.productViewModel.imageUrl" alt="">
        </div>
        <div class="col-12 col-md-6">
          <h3 class="my-3 ms-md-3 text-light">Datos Producto</h3>
          <div class="col-12 mb-3">
            <div class="card bg-dark border-0">
              <div class="card-content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="text-start text-white overflow-y-auto">
                      <div class="d-flex ms-md-3">
                        <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                        <div>
                          <h5 class="m-0">{{ this.productViewModel.sku }}</h5>
                          <span>Sku</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="card bg-dark border-0">
              <div class="card-content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="text-start text-white overflow-y-auto">
                      <div class="d-flex ms-md-3">
                        <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                        <div>
                          <h5 class="m-0">{{ this.productViewModel.productName }}</h5>
                          <span>Nombre del producto</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="card bg-dark border-0">
              <div class="card-content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="text-start text-white overflow-y-auto">
                      <div class="d-flex ms-md-3">
                        <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                        <div class="d-flex justify-content-between">
                          <div>
                            <h5 class="text-nowrap m-0">{{ this.productViewModel.supplier.businessName }}</h5>
                            <span>Proveedor</span>
                          </div>
                          <img src="{{this.productViewModel.supplier.image}}" style="width: 45px; height: 45px;" class="rounded-1 ms-4" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="card bg-dark border-0">
              <div class="card-content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="text-start text-white overflow-y-auto">
                      <div class="d-flex ms-md-3">
                        <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                        <div>
                          <h5 class="m-0">{{ this.productViewModel.category.categoryName }}</h5>
                          <span>Categoria</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="card bg-dark border-0">
              <div class="card-content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="text-start text-white overflow-y-auto">
                      <div class="d-flex ms-md-3">
                        <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                        <div>
                          <h5 class="m-0">{{ this.productViewModel.price | currency }}</h5>
                          <span>Precio</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="card bg-dark border-0">
              <div class="card-content">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="text-start text-white">
                      <div class="d-flex ms-md-3">
                        <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                        <div>
                          <h5 class="m-0">{{ this.productViewModel.description }}</h5>
                          <span>Descripcion</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Botones para hacer acciones desde el detalle -->
        <div class="d-flex">
          <button
            (click)="deleteProduct(this.productViewModel.id)"
            class="btn btn-danger me-2"
            *ngIf="this.productViewModel.active"
            >Eliminar</button
          >
          <button
          *ngIf="this.productViewModel.active"
            [routerLink]="[
              '/productos-servicios/form/',
              this.productViewModel.id
            ]"
            class="btn btn-primary me-2"
            >Editar</button
          >
          <button
          (click)="undeleteProductById(this.productViewModel.id)"
          class="btn btn-success me-2"
          *ngIf="!this.productViewModel.active"
          >Dar de alta</button
        >
        </div>
        <!-- Botones para hacer acciones desde el detalle -->
      </div>
    </div>
  </div>
  <!-- Verificamos el estado del usuario -->
  <div *ngIf="userState == null" class="container py-5 p-md-5">
    <app-navigation-home></app-navigation-home>
  </div>
  <!-- Verificamos el estado del usuario -->
</article>
