<section class="container">
    <div class="row my-2 my-md-5">
       <div class="ms-0 ms-md-5 col-12 col-md-7">
           <h1 *ngIf="this.valor == true" class="text-white">Bienvenido a nuestro sistema de gestión y administracion!</h1>
           <p *ngIf="this.valor == true" class="text-white">Optimiza tus procesos de aprovisionamiento, controla tu inventario y agiliza las órdenes de compra. Desde el seguimiento de proveedores hasta la administración eficiente de productos.</p>
           <h1 *ngIf="this.valor == null"  class="text-white">Oops, parece que no tienes cuenta aqui.</h1>
           <p *ngIf="this.valor == null"  class="text-white">Te invitamos a que ingreses a tu cuenta o crees una en caso de no tener para asi poder acceder a todos los beneficios que te ofrece nuestra plataforma.</p>
           <div class="d-flex">
               <a routerLink="/login" class="btn btn-info me-3">Iniciar Sesion</a>
               <a routerLink="/register" class="btn btn-outline-info">Registrarse</a>
           </div>
       </div>
        <div class="col-12 offset-md-1 col-md-3">
            <img src="../../../assets/img/7559348-removebg.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 text-center mb-5">
            <div routerLink="/proveedores" class="d-flex justify-content-center card-container">
               <div class="carda">
                  <div class="card2 text-light d-flex flex-column justify-content-evenly ">
                     <h5>Proveedores</h5>
                     <p class="my-3 fs-3 fw-bold ">{{suppliers.length}}</p>
                     <p>Descubre cómo gestionar de manera eficiente tus proveedores favoritos.</p>
                  </div>
                </div>
            </div>
         </div>         
         <div class="col-12 col-md-4 text-center mb-5">
            <div routerLink="/productos-servicios" class="d-flex justify-content-center card-container">
               <div class="carda">
                  <div class="card2 text-light d-flex flex-column justify-content-evenly ">
                     <h5>Productos y servicios</h5>
                     <p class="my-3 fs-3 fw-bold ">{{products.length}}</p>
                     <p>Explora las diversas formas de gestionar tus productos y servicios favoritos.</p>
                  </div>
                </div>          
            </div>
         </div>         
         <div class="col-12 col-md-4 text-center">
            <div routerLink="/ordenes" class="d-flex justify-content-center card-container">
               <div class="carda">
                  <div class="card2 text-light d-flex flex-column justify-content-evenly ">
                     <h5>Ordenes de compra</h5>
                     <p class="my-3 fs-3 fw-bold ">{{orders.length}}</p>
                     <p>Gestiona de manera efectiva tus órdenes de compra.</p>
                  </div>
                </div>              
            </div>
         </div>         
    </div>
</section>
