<div class="row my-5">
    <div class="col-6 d-flex justify-content-center">
        <ul class="list-unstyled">
            <li><a class="text-light fs-5 link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover" routerLink="/proveedores">Proveedores</a></li>
            <li><a class="text-light fs-5 text-light fs-5 link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover" routerLink="/productos-servicios">Productos y Servicios</a></li>
            <li><a class="text-light fs-5 text-light fs-5 link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover" routerLink="/ordenes">Ordenes de compra</a></li>
        </ul>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <ul class="list-unstyled">
            <li><a class="text-light fs-5 link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover" routerLink="/login">Iniciar Sesion</a></li>
            <li><a class="text-light fs-5 link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-100-hover" routerLink="/register">Registrarse</a></li>
        </ul>
    </div>
</div>
