<section class="container">
    <div class="row my-2 my-md-5">
       <div class="ms-0 ms-md-5 col-12 col-md-7">
           <h1 *ngIf="this.location" class="text-white">Bienvenido a nuestro sistema de gestión y administración!</h1>
           <p *ngIf="this.location" class="text-white">Optimiza tus procesos de aprovisionamiento, controla tu inventario y agiliza las órdenes de compra. Desde el seguimiento de proveedores hasta la administración eficiente de productos.</p>
           <h1 *ngIf="!this.userState && !location"  class="text-white">Oops, parece que no tienes cuenta aqui.</h1>
           <p *ngIf="!this.userState && !location"  class="text-white">Te invitamos a que ingreses a tu cuenta o crees una en caso de no tener para asi poder acceder a todos los beneficios que te ofrece nuestra plataforma.</p>
           <div class="d-flex">
               <a *ngIf="!this.userState" routerLink="/login" class="btn btn-info me-3">Iniciar Sesión</a>
               <a *ngIf="!this.userState" routerLink="/register" class="btn btn-outline-info">Registrarse</a>
           </div>
       </div>
        <div class="col-12 offset-md-1 col-md-3">
            <img src="../../../assets/img/7559348-removebg.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 text-center mb-5">
            <div routerLink="/proveedores" class="d-flex justify-content-center card-container">
               <div class="carda">
                  <div class="card2 text-light d-flex flex-column justify-content-evenly ">
                     <h5>Proveedores</h5>
                     <p class="my-3 fs-3 fw-bold ">{{suppliers.length}}</p>
                     <p>Descubre cómo gestionar de manera eficiente tus proveedores favoritos.</p>
                  </div>
                </div>
            </div>
         </div>         
         <div class="col-12 col-md-4 text-center mb-5">
            <div routerLink="/productos-servicios" class="d-flex justify-content-center card-container">
               <div class="carda">
                  <div class="card2 text-light d-flex flex-column justify-content-evenly ">
                     <h5>Productos y servicios</h5>
                     <p class="my-3 fs-3 fw-bold ">{{products.length}}</p>
                     <p>Explora las diversas formas de gestionar tus productos y servicios favoritos.</p>
                  </div>
                </div>          
            </div>
         </div>         
         <div class="col-12 col-md-4 text-center">
            <div routerLink="/ordenes" class="d-flex justify-content-center card-container">
               <div class="carda">
                  <div class="card2 text-light d-flex flex-column justify-content-evenly ">
                     <h5>Órdenes de compra</h5>
                     <p class="my-3 fs-3 fw-bold ">{{orders.length}}</p>
                     <p>Gestiona de manera efectiva tus órdenes de compra.</p>
                  </div>
                </div>              
            </div>
         </div>         
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-6 p-2 p-md-5">
         <div class="d-flex align-items-center gap-2">
            <i class="bx bxs-check-circle text-success  fs-3"></i>
            <h4 class="text-light m-0">Proveedores mas frecuentes</h4>
         </div>        
         <div class="table-responsive rounded-3 mt-3 mb-3 border border-1 border-white">
            <table class="table table-dark align-middle mb-0">
              <thead>
                <tr class="h-100">
                  <th class="text-center">Puesto</th>
                  <th class="text-center py-2 text-nowrap">Razón Social</th>
                  <th class="text-center">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-light" *ngFor="let supplier of topSuppliers; index as i">
                  <td class="text-center">
                    <img [src]="'../../../assets/img/medal' + (i + 1) + '.png'" style="width: 40px;" alt="">
                  </td>
                  <td>
                    <p class="fw-normal mb-1 text-nowrap text-center">
                      {{ supplier[0] }}
                    </p>
                  </td>
                  <td>
                    <p class="fw-normal mb-1 text-nowrap text-center">
                      {{ supplier[1] }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="col-12 col-md-6 p-2 p-md-5">
         <div class="d-flex align-items-center gap-2">
            <i class="bx bxs-check-circle text-success fs-3"></i>
            <h4 class="text-light m-0">Productos mas frecuentes</h4>
         </div>
         <div class="table-responsive rounded-3 mt-3 mb-3 border border-1 border-white">
            <table class="table table-dark align-middle mb-0">
              <thead>
                <tr class="h-100">
                  <th class="text-center">Puesto</th>
                  <th class="text-center py-2 text-nowrap">Producto</th>
                  <th class="text-center">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-light" *ngFor="let product of topProducts; index as i">
                  <td class="text-center">
                    <img [src]="'../../../assets/img/medal' + (i + 1) + '.png'" style="width: 40px;" alt="">
                  </td>
                  <td>
                    <p class="fw-normal mb-1 text-nowrap text-center">
                      {{ product[0] }}
                    </p>
                  </td>
                  <td>
                    <p class="fw-normal mb-1 text-nowrap text-center">
                      {{ product[1] }}
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
</section>
