img {
    width: -webkit-fill-available;
}

/* Card styles */
.card-container {
    cursor: pointer;
}
.card {
    width: 296px;
    border-radius: 30px;
    background: rgb(33, 37, 41);
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
}
.card p {
    font-size: 14px;
}

/* Transición suave para el efecto hover */
.card-container:hover .card {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
    box-shadow: 20px 20px 40px rgb(25, 25, 25),
                -20px -20px 40px rgb(60, 60, 60);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Añade una transición suave de 0.3 segundos */
}

/* Restablece las propiedades al salir del hover para evitar saltos bruscos */
.card-container .card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}
  
   