<div class="bg-dark">
  <div *ngIf="userState == true" class="container py-5 p-md-5">
    <!-- Ruteo -->
    <div class="row">
      <!-- Breadcrumb -->
      <div class="col-12 col-md-8 d-flex align-items-center">
        <a
          class="text-light text-decoration-none"
          routerLink="/productos-servicios"
          >Productos y Servicios</a
        >
        <i class="bx bx-chevron-right text-light fs-4"></i>
        <p class="m-0 text-light text-md-nowrap">Tabla</p>
      </div>
      <!-- Breadcrumb -->
      <div
        class="col-12 col-md-4 d-flex justify-content-start justify-content-md-end my-3"
      >
        <a routerLink="/productos-servicios/form" class="btn btn-primary"
          >Agregar Producto o Servicio</a
        >
      </div>
    </div>
    <!-- Ruteo -->
    <div
      *ngIf="productosyServicios.length > 0"
      class="table-responsive rounded-3 mt-5 mb-3"
    >
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th class="text-nowrap text-center">Codigo / Sku</th>
            <th class="text-center">Proveedor</th>
            <th>Categoria</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productosyServicios | atoZ">
            <td>
              <div class="d-flex align-items-center">
                <img
                  src="{{ item.Imagen }}"
                  alt=""
                  style="width: 35px; height: 35px"
                  class="rounded-circle"
                  (error)="handleImageError(item)"
                />
                <div class="ms-3">
                  <p class="fw-normal mb-1 text-nowrap text-center">
                    {{ item.id }}
                  </p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1 text-nowrap text-center">
                {{ item.Proveedor }}
              </p>
            </td>
            <td>
              <p class="fw-normal mb-1 text-nowrap">{{ item.Categoria }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1 text-nowrap">{{ item.Producto }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1 text-nowrap">${{ item.Precio }}</p>
            </td>
            <td>
              <div class="d-flex">
                <i
                (click)="this.service.getProdData(item.id)" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  class="btn btn-danger bx bx-trash me-2"
                ></i>
                <i
                  [routerLink]="['/productos-servicios/form/', item.id]"
                  class="btn btn-primary bx bx-edit-alt me-2"
                ></i>
                <i
                  [routerLink]="['/productos-servicios/detalle/', item.id]"
                  class="btn btn-success bx bx-info-circle"
                ></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Mostramos un mensaje cuando no hay productos -->
    <div *ngIf="productosyServicios.length == 0">
      <h3 class="text-light text-center">
        No tiene ordenes en tu lista! Por favor agregar alguno
      </h3>
    </div>
    <!-- Mostramos un mensaje cuando no hay productos -->
  </div>
  <!-- Verificamos el estado del usuario -->
  <div *ngIf="userState == null" class="container py-5 p-md-5">
    <h3 class="text-light text-center">
      Necesitas un nivel de usuario mas alto
    </h3>
    <app-navigation-home></app-navigation-home>
  </div>
  <!-- Verificamos el estado del usuario -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Por seguridad...</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           Deseas eliminar el producto "{{this.service.datosProd.Producto}}"?"
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="borrarProductoyservicio(this.service.datosProd.id)">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
</div>
