<article class="bg-dark h-100 d-flex justify-content-center">
  <div *ngIf="userState == true" class="container py-5 p-md-5">
    <!-- Ruteo -->
    <div class="row">
      <!-- Breadcrumb -->
      <div class="col-12 col-md-9 d-flex align-items-center">
        <a class="text-light text-decoration-none" routerLink="/inicio">Inicio</a>
              <i class='bx bx-chevron-right text-light fs-4' ></i>
        <a class="text-light text-decoration-none" routerLink="/proveedores"
          >Proveedores</a
        >
        <i *ngIf="this.supplierViewModel.supplierCode != ''" class="bx bx-chevron-right text-light fs-4"></i>
        <p class="m-0 text-light text-md-nowrap">
          <span *ngIf="this.supplierViewModel.supplierCode != ''"
            >{{ this.supplierViewModel.businessName }}</span
          >
        </p>
      </div>
      <!-- Breadcrumb -->
      <div class="col-12 col-md-3 d-flex justify-content-md-end my-3">
        <a routerLink="/proveedores" class="btn btn-primary"
          >Volver a la lista</a
        >
      </div>
    </div>
    <!-- Ruteo -->
    <div class="row">
      <div class="row">
        <h3 class="my-3 text-light">Datos Proveedor</h3>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0">{{ this.supplierViewModel.supplierCode }}</h5>
                        <span>Codigo</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div class="d-flex justify-content-between">
                        <div>
                          <h5 class="text-nowrap m-0">{{ this.supplierViewModel.businessName }}</h5>
                          <span>Razon Social</span>
                        </div>
                        <img (error)="handleImageError(this.supplierViewModel)" src="{{this.supplierViewModel.image}}" style="width: 45px; height: 45px;" class="rounded-1 ms-4" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0">{{ this.supplierViewModel.industry.industryName }}</h5>
                        <span>Rubro</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0">{{ this.supplierViewModel.phoneNumber }}</h5>
                        <span>Telefono</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0">{{ this.supplierViewModel.email }}</h5>
                        <span>Email</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0">{{ this.supplierViewModel.website }}</h5>
                        <span>Sitio Web</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <h3 class="my-3 text-light">Direccion</h3>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{this.addressViewModel.location.province.country.countryName}}</h5>
                        <span>Pais</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.addressViewModel.location.province.provinceName
                        }}</h5>
                        <span>Provincia</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.addressViewModel.location.locationName
                        }}</h5>
                        <span>Localidad</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.addressViewModel.streetName +
                            " " +
                            this.addressViewModel.streetNumber
                        }}</h5>
                        <span>Calle y numero</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.addressViewModel.postalCode
                        }}</h5>
                        <span>Codigo Postal</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <h3 class="my-3 text-light">Datos Fiscales</h3>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.supplierViewModel.cuit
                        }}</h5>
                        <span>Cuit</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.supplierViewModel.ivaCondition.taxCondition
                        }}</h5>
                        <span>Condicion Iva</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h3 class="my-3 text-light">Datos Contacto</h3>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.contactViewModel.firstName
                        }}</h5>
                        <span>Nombre</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.contactViewModel.lastName
                        }}</h5>
                        <span>Apellido</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.contactViewModel.role
                        }}</h5>
                        <span>Rol</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.contactViewModel.phoneNumber
                        }}</h5>
                        <span>Telefono</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-6 mb-3">
          <div class="card bg-dark border-0">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="text-start overflow-y-auto text-white">
                    <div class="d-flex">
                      <i class='bx bxs-check-circle text-primary fs-4 me-3'></i>
                      <div>
                        <h5 class="text-nowrap m-0"> {{
                          this.contactViewModel.email
                        }}</h5>
                        <span>Email</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Botones para realizar las acciones en el detalle -->
      <div class="d-flex">
        <button
          (click)="deleteSupplier(this.supplierViewModel.id)"
          class="btn btn-danger me-2"
          *ngIf="this.supplierViewModel.active"
          >Eliminar</button
        >
        <button
        *ngIf="this.supplierViewModel.active"
          [routerLink]="['/proveedores/form/', this.supplierViewModel.id]"
          class="btn btn-primary me-2"
          >Editar</button
        >
        <button
        (click)="undeleteSupplierById(this.supplierViewModel.id)"
        class="btn btn-success me-2"
        *ngIf="!this.supplierViewModel.active"
        >Dar de alta</button
      >
      </div>
      <!-- Botones para realizar las acciones en el detalle -->
    </div>
  </div>
  <!-- Mensaje en caso de que el usuario no este logueado -->
  <div *ngIf="userState == null" class="container py-5 p-md-5">
    <app-navigation-home></app-navigation-home>
  </div>
  <!-- Mensaje en caso de que el usuario no este logueado -->
</article>
